# Python bytecode files
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
env/
*.env

# Flask files
instance/
*.db

# Model files
model/
*.h5

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo
